#speakersElement {
    margin: 5vh auto 5vw;
    display: grid;
    width: fit-content;
    height: fit-content;
    /* grid-template-columns: auto auto; */
    gap: 5vw 2vw;
    grid-template-columns: repeat(3, 1fr);   
}

.speakersSectionGridElement {
    width: 18vw;
    height: fit-content;
    position: relative;
    overflow: hidden;
    padding: 2vh;
    border-radius: 4vh;
    button {
        width: 100%;
        opacity: 0;
        transform: scale(0);
    }
}

.speakersSectionGridElement::before {
    transition: all 1s cubic-bezier(1, 0, 0, 1);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, var(--accentColor) 10%, var(--accentColor2));
    z-index: -1;
    opacity: 0;
}

.speakersSectionGridElement svg {
    width: 100%;
    height: auto;
    margin-bottom: 1vh;
}

.speakersSectionGridElement h2 {
    text-align: center;
    padding: 1vh 1vh;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4vh;
}

.speakersSectionGridElement p {
    margin: 1vh 0;
    text-align: center;
    font-size: 12pt;
    padding: 1.5vh 1vh;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4vh;
}

.speakersSectionGridElement ul {
    text-align: left;
    list-style-position: inside;
    font-size: 12pt;
    padding: 2vh 3vh;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4vh;
}

.speakersSectionGridElement:hover {
    transform: scale(1.1);
}

.speakersSectionGridElement:hover::before {
    opacity: 1;
}

.speakersSectionGridElement:hover > .tgButton {
    opacity: 1;
    transform: scale(1);
}

.tgButton {
    margin: 2vh 0;
    text-align: center;
    font-size: 12pt;
    padding: 2vh 1vh;
    background-color: var(--accentColor2);
    border-radius: 4vh;
    cursor: pointer;
}

.tgButton a {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}

.tgButton:hover a {
    letter-spacing: .25vh;
}

.tgButton div {
    height: 4vh;
    width: 4vh;
    margin-right: 1vw;
}